# Used to deploy to testnets
export HDWALLET_MNEMONIC=''

# Used to deploy to testnets
export INFURA_API_KEY=''

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=''

# Required for mainnet
export ALCHEMY_URL=''

# Required for gas snapshot price calculations
COINMARKETCAP_TOKEN=

# Enable the contract optimzer: recommended for mainnet
OPTIMIZER_DISABLED=
