# Used to deploy to testnets
export HDWALLET_MNEMONIC=''

# Used to deploy to testnets
export INFURA_API_KEY=f66a092fe47549b6a91d6d9d9b9c3863

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY=''

# Required for mainnet
export ALCHEMY_URL=''

# Required for gas snapshot price calculations
export COINMARKETCAP_TOKEN=

# Enable the contract optimzer: recommended for mainnet
export OPTIMIZER_DISABLED=

# MythX cmart contract tester
expport MYTHX_KEY=